@import '../themes/_colours';
@import '../mixins/page';

div.domain-div {@include page();}

div.current-counter {
  margin-left: auto;
  margin-right: auto;
}

table.domain-table {
  float: left;
  text-align: center;
  // width: 50%;
}

// button.button {
//   background-color: white;
//   border-radius: 15%;
//   display: block;
//   float: left;
// }
// button.primary-button {
//   @extend .button;
//   background-color: $primary;
// }
// button.secondary-button {
//   @extend .button;
//   background-color: $secondary;
// }
// button.delete-button {
//   @extend .primary-button;
//   width: 100%;
// }

br {
  clear: left;
}
